<% layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><b> <%=listing.title %> </b></h3>
  </div>
  <div class="card col-6 offset-3 show-card listing-card">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text">Owned By:<i> <%=listing.owner.username %> </i></p>
      <p class="card-text"><%=listing.description %></p>
      <p class="card-text">
        &#8377;<%= listing.price.toLocaleString("en-IN")%>
      </p>
      <p class="card-text"><%= listing.location %></p>
      <p class="card-text"><%=listing.country%></p>
    </div>
  </div>
  <br />
</div>
<% if(currUser && listing.owner._id.equals(currUser._id) ) { %>
<div class="btns">
  <a
    href="/listings/<%= listing._id %>/edit"
    class="btn btn-dark col-1 offset-3 btn-edit"
    >Edit</a
  >
  <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
    <button class="btn btn-dark offset-5">Delete</button>
  </form>
</div>
<% } %>

<div class="col-8 offset-3 mb-3">
  <hr />
  <% if(currUser) { %>
  <h4>Leave a review</h4>
  <form action="/listings/<%= listing._id %>/reviews" method="POST">
    <!-- Star Rating -->
    
    <fieldset class="star-rating">
      <input type="radio" name="review[rating]" value="0"  />

      <input type="radio" id="rate5" name="review[rating]" value="5" />
      <label for="rate5" title="Amazing"></label>

      <input type="radio" id="rate4" name="review[rating]" value="4" />
      <label for="rate4" title="Very good"></label>

      <input type="radio" id="rate3" name="review[rating]" value="3" />
      <label for="rate3" title="Average"></label>

      <input type="radio" id="rate2" name="review[rating]" value="2" />
      <label for="rate2" title="Not good"></label>

      <input type="radio" id="rate1" name="review[rating]" value="1" />
      <label for="rate1" title="Terrible"></label>
    </fieldset>

    <!-- Comment -->
    <div class="mb-3 mt-3">
      <label for="comment" class="form-label">Comments</label>
      <textarea
        name="review[comment]"
        id="comment"
        cols="30"
        rows="5"
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">Please add some comments for review</div>
    </div>

    <button class="btn btn-outline-dark">Submit</button>
  </form>
  <% } %>

  <hr />

  <!-- Display All Reviews -->
  <p><b>All Reviews</b></p>
  <div class="row">
    <% for (let review of listing.reviews) { %>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body ms-3">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <!-- Star Rating Display -->
          <div class="star-rating">
            <% for (let i = 1; i <= 5; i++) { %> <% if (i <= review.rating) { %>
            <span style="color: gold">★</span>
            <% } else { %>
            <span style="color: #ccc">★</span>
            <% } %> <% } %>
          </div>
          <p class="card-text"><%= review.comment %></p>
        </div>

        <!-- Delete Button -->
        <div class="card-footer bg-transparent border-0 text-end">
          <form
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
